h1  {
	    font-family: "Lobster",sans-serif;
		font-size: 80px;
		// line-height: 20px;
		color: #eadbd5;
		text-shadow: 1px 1px 1px #000000;
		text-shadow: 3px 3px 3px #805240;
		// text-align: center;
		// margin-left: 60px;
		// padding-top: 40px;
		// padding-bottom: 40px;	
}	

h2 {
		font-family: "Holtwood One SC", sans-serif;
		font-size: 40px;
		color: #eadbd5;
		text-align: center;
		padding: 20px;


}	

.title {
	text-align: center;
	margin-bottom: 30px;

}